services:
  backend:
    build:
      context: ./chat_api
    ports:
      - "3000:80"
    volumes:
      - ./chat_api/storage:/rails/storage
    environment:
      - RAILS_ENV=production
      - RAILS_SERVE_STATIC_FILES=true
      - RAILS_MASTER_KEY=${RAILS_MASTER_KEY:-}
      - SECRET_KEY_BASE=${SECRET_KEY_BASE:-secret_key_base_for_demo}

  frontend:
    build:
      context: ./chat_frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
